#symbol{
    background-color: blanchedalmond;
    color:brown;
    border-radius: 50%;
    padding: 8px;
    width: fit-content;

}
.symbol-button{
    margin-left: 8px;
    margin-top: 5px;
}
.vertical-menu{
    display: grid;
    grid-template-columns: 1pt;
}